body {
  background-color: white;
  max-width: 60%;
  min-height: 100%;
  align-self: center;
  background-position: center;
  font-family:fantasy;
  margin: auto auto auto auto;
}

body > h1 {
  text-align: center;
}

html {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0; padding: 0; border: 0;
}
